<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-G- <%= title %>
    </title>
    <meta name="description" content="Gresik Photography Education" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="/icons/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css" />
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZ6CP9BS');</script>
    <!-- End Google Tag Manager -->
</head>

<body data-barba="wrapper">
    <div class="fader">
    </div>
    <nav>
        <div class="metering-nav">
            <div class='metnav-container'>
                <div class="metnav-before"></div>
                <div class="metnav-line"></div>
                <a href="/" class="metnav-item"><span>Home</span></a>
                <div class="metnav-line"></div>
                <a href="/about" class="metnav-item"><span>About</span></a>
                <div class="metnav-line"></div>
                <a href="/structure" class="metnav-item"><span>Structure</span></a>
                <div class="metnav-line"></div>
                <a href="/activity" class="metnav-item"><span>Activity</span></a>
                <div class="metnav-line"></div>
                <a href="/contact" class="metnav-item"><span>Contact</span></a>
                <div class="metnav-line"></div>
                <div class="metnav-after"></div>
                <div class="metnav-title"></div>
            </div>
        </div>
        <div class="metnav-arrow"></div>
        <div class="menu">
            <div class="mn-content">
                <div class="mn-list">
                    <a href="/" class="mn-item with-cptr active">HOME</a>
                    <a href="/about" class="mn-item with-cptr">ABOUT</a>
                    <a href="/structure" class="mn-item with-cptr">STRUCTURE</a>
                    <a href="/activity" class="mn-item with-cptr">ACTIVITY</a>
                    <a href="/contact" class="mn-item with-cptr">CONTACT</a>
                    <div class="mn-active">
                        <span class="tl"></span>
                        <span class="tr"></span>
                        <span class="bl"></span>
                        <span class="br"></span>
                    </div>
                </div>
            </div>
            <div class="mn-bt">
                <span></span>
                <span></span>
            </div>
            <div class="mn-bg"></div>
        </div>
    </nav>

    <%- include('pages/'+route+'.html') %>

        <%# <script src="/scripts/gsap.min.js"></script> %>
        <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
        <script src="https://unpkg.com/@barba/core"></script>
        <script type="module" src="/assets/main.js"></script>
</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZ6CP9BS" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</html>