* {
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background: #282828;
}


::-webkit-scrollbar-thumb {
    background: #3b3b3b;
}

::-webkit-scrollbar-thumb:hover {
    background: #101010;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #282828;
    font-family: 'Inter', sans-serif;
    color: white;
    max-height: 100dvh;
    // overflow-y: scroll;
}

.with-cptr {
    position: relative;

    &>span>span {
        width: 5px;
        height: 5px;
        /* background-color: red; */
        display: block;
        border-style: solid;
        border-color: white;
        position: absolute;
        opacity: 0;
        transition: 0.2s;
    }

    .tl {
        left: 0px;
        top: 0px;
        border-width: 1px 0px 0px 1px;
    }

    .bl {
        left: 0px;
        bottom: 0px;
        border-width: 0px 0px 1px 1px;
    }

    .tr {
        right: 0px;
        top: 0px;
        border-width: 1px 1px 0px 0px;
    }

    .br {
        right: 0px;
        bottom: 0px;
        border-width: 0px 1px 1px 0px;
    }


    &:hover {
        &>span>span {
            opacity: 1;
        }

        .tl {
            left: -7px;
            top: -7px;
        }

        .bl {
            left: -7px;
            bottom: -7px;
        }

        .tr {
            right: -7px;
            top: -7px;
        }

        .br {
            right: -7px;
            bottom: -7px;
        }
    }
}

.c-logo {
    width: 30vw;
    max-width: 415px;
    min-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    /* background-color: #FC973B; */
    background-image: radial-gradient(circle, #fda04b, #7d3c00 110%);
    position: absolute;
    box-shadow: 0 60px 170px rgba(252, 151, 59, 0.5);

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: transparent;
        background-image: url('/images/LOGO_GPRET_White.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        overflow: hidden;
        display: block;
    }
}

.fader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100dvh;
    background-color: #1e1e1e;
    z-index: 450;
}

nav {
    position: relative;
    
    .metnav-arrow {
        content: "";
        background-color: transparent;
        position: fixed;
        z-index: 100;
        top: 0px;
        transform: translate(-10px, 0);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid white;
        transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
        opacity: 0;
    }

    .metering-nav {
        position: fixed;
        transform: translate(-50%, 0%);
        top: 20px;
        left: 50%;
        padding: 10px 0;
        z-index: 50;
        transition: 0.3s;
        /* background-color: #FC973B; */

        .metnav-container {
            display: flex;
            align-items: center;
            gap: 15px;

            .metnav-before,
            .metnav-after {
                background-color: white;
                width: 20px;
                height: 20px;
            }

            .metnav-line {
                content: '';
                background-color: white;
                width: 3px;
                height: 10px;
                flex-shrink: 0;
            }

            .metnav-item {
                flex-shrink: 0;
                background-color: white;
                max-width: 4px;
                margin: 0;
                overflow: hidden;
                cursor: pointer;
                color: #101010;
                line-height: 20px;
                font-size: 30px;
                transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;


                &>span {
                    padding: 0 10px;
                }

                &.active {
                    background-color: #fc973b;
                    color: white;
                }
            }

            .metnav-title {
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: white;
                padding: 0 20px;
                min-width: 50%;
                color: black;
                font-size: 30px;
                /* line-height: 20px; */
                overflow: hidden;
                text-align: center;
            }


        }
    }

    @media screen and (max-width: 600px) {
        .metering-nav {
            top: -10%;
            opacity: 0;
            background-color: #fc973b;
        }
    }

    .menu {
        position: fixed;
        top: 0px;
        right: 0px;
        // right: 0px;
        // bottom: 0;
        z-index: 50;
        display: none;
        // visibility: hidden;

        .mn-bg {
            content: attr(data-content) "";
            display: block;
            background-color: rgba(16, 16, 16, 0.5);
            position: fixed;
            top: 0;
            inset: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }

        .mn-content {
            /* overflow: hidden; */
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0;
            width: 0;
            height: 100dvh;
            background-color: #101010;
            background-image: radial-gradient(circle at 100% 0%, #101010, transparent);
            background-repeat: no-repeat;
            overflow: hidden;
            transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            // box-shadow: -30px 0 50px rgba(0,0,0,0.1);
        }

        .mn-list {
            padding: 60px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: relative;
            // background-color: #282828;

            .mn-item {
                // text-align: center;
                font-size: 32px;
                color: white;
                // background-color: #3b3b3b;
                max-width: min-content;

                &.active {
                    // background-color: #fc973b;
                    color: #fc973b;
                }
            }
        }

        .mn-active {
            position: absolute;
            top: 0px;
            left: calc(50% - 75px);
            width: 150px;
            height: 50px;
            // transform: translate(0px, 50px);
            // opacity: 0;
            display: none;

            &>span {
                position: absolute;
                width: 10px;
                height: 10px;
                /* background-color: red; */
                display: block;
                border-style: solid;
                border-color: aliceblue;
                opacity: 0.5;
            }

            .tl {
                left: 0px;
                top: 0px;
                border-width: 2px 0px 0px 2px;
            }

            .bl {
                left: 0px;
                bottom: 0px;
                border-width: 0px 0px 2px 2px;
            }

            .tr {
                right: 0px;
                top: 0px;
                border-width: 2px 2px 0px 0px;
            }

            .br {
                right: 0px;
                bottom: 0px;
                border-width: 0px 2px 2px 0px;
            }

        }

        .mn-bt {
            position: absolute;
            top: 0px;
            right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            cursor: pointer;
            /* rotate: -90deg; */
            transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
            /* background-color: #3b3b3b; */
            padding: 20px 20px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            z-index: 2;
            /* mix-blend-mode: difference; */
            // display: none;


            span {
                width: 40px;
                height: 2px;
                background-color: white;
                display: block;
                transition: ease-out 0.5s;
                /* transition: all 1s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s; */

                &:nth-child(2) {
                    width: 20px;
                }

            }

            &:hover>span {
                background-color: #fc973b;
                width: 40px;
            }
        }

        &.active {
            .mn-bg {
                visibility: visible;
                opacity: 1;
            }

            &>.mn-bt {
                // right: 20px;

                span {
                    width: 40px;

                    &:nth-child(2) {
                        transform: translateY(-6px);
                    }

                    &:nth-child(1) {
                        transform: translateY(6px);
                    }

                }
            }

            &>.mn-content {
                width: 30vw;
                // height: calc(100dvh - 40px);
                background-color: #101010;
            }
        }

    }

    @media screen and (max-width: 600px) {
        .menu {
            // top: 20px;
            // visibility: visible;
            // right: 0px;
            display: block;

            .mn-bt {
                top: 20px;
                right: 20px;
                display: flex;

            }

            &.active>.mn-content {
                width: calc(100vw);
            }
        }
    }
}

.nav-logo {
    a {
        display: block;
        position: fixed;
        top: 20px;
        left: 40px;
        width: 50px;
        height: 50px;
        // background-color: #fc973b;
        background-image: url('/images/LOGO_G_white.png');
        background-size: contain;
        z-index: 100;
        mix-blend-mode: difference;
    }

    .nav-tag {
        position: fixed;
        top: 20px;
        right: 40px;
        z-index: 100;
        mix-blend-mode: difference;
        /* background-color: #fc973b; */
    }
}

@media screen and (max-width: 600px) {
    .nav-logo {
        a {
            top: 35px;
        }

        .nav-tag {
            top: -100px;
        }
    }
}

main {
    min-height: 100dvh;
    background-color: #282828;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.bg-circle-dark {
    background: {
        // image: radial-gradient(circle at 50% -30%,
        //         #101010,
        //         transparent 90%);
        image: radial-gradient(circle at 50% -30%,
                #101010,
                #282828 90%);
        size: 100vw 100vw;
        repeat: no-repeat;
    }
}

@media screen and (max-width: 600px) {
    .bg-circle-dark {
        background-size: 100vh 100vh;
    }
}


.load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1e1e;
    z-index: 400;
    animation-name: loadSwipeUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.9, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &>div {
        position: relative;
    }

    h1 {
        /* position: absolute; */
        font-weight: 400;
        animation-name: AnimateInFadeUp;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        // animation-delay: 0.2s;
        letter-spacing: 2px;

        &::before {
            content: '';
            height: 20px;
            width: 20px;
            border: 1px solid white;
            /* background-color: #FC973B; */
            position: absolute;
            left: -30px;
            top: -30px;
            animation-name: AnimateInFadeUp;
            animation-duration: 2s;
            animation-fill-mode: both;
        }

        &::after {
            content: '';
            height: 20px;
            width: 20px;
            border: 1px solid orange;
            /* background-color: #FC973B; */
            position: absolute;
            /* left: -52px; */
            top: -8px;
            right: -30px;
            animation-name: AnimateInFadeUp;
            animation-duration: 2s;
            animation-fill-mode: both;
            animation-delay: 0.3s;
        }
    }
}

.pg-header {
    .bg-title {
        position: absolute;
        /* background-color: #FC973B; */
        top: 8vh;
        left: -4%;
        font-size: 400px;
        color: #1e1e1e;
        opacity: 0.5;
        font-weight: 800;
        line-height: 320px;
        animation-name: AnimateFadeIn;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-delay: 1.5s;
        user-select: none;
    }

    .title {
        font-size: 128px;
        position: absolute;
        top: 20vh;
        left: 10%;
        /* transform: translate(0%, -50%); */
        font-weight: 300;
        animation-name: AnimateFadeIn;
        animation-duration: 1.5s;
        animation-fill-mode: both;
        animation-delay: 2s;
    }
}

@media screen and (max-width: 600px) {
    .pg-header {
        .title {
            max-width: 90%;
            font-size: 70px;
            word-wrap: break-word;
        }

        .bg-title {
            font-size: 200px;
            line-height: 160px;
        }
    }
}


.navigate-button {
    /* position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 0); */
    /* background-color: #FC973B; */
    width: 130px;
    height: 130px;


    &>span {
        width: 130px;
        height: 130px;
        border-radius: 100%;
        /* background-color: #F5F5F5; */
        background-image: radial-gradient(circle, #c0c0c0 10%, #f5f5f5 90%);
        display: block;
        position: absolute;
        /* top: 25%;
      left: 25%; */
        z-index: 0;
        transition: all 5s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0ms;
    }

    p {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 0);
        cursor: pointer;
        /* background-color: #FC973B; */
        transition: all 5s cubic-bezier(0.03, 0.98, 0.52, 0.99) 0ms;


        a {
            font-size: 24px;
            display: block;
            text-decoration: none;
            color: #000;
            gap: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: #fc973b;
            }
        }
    }

    &.nb-dark {
        span {
            background-image: radial-gradient(circle, #222222 10%, #3b3b3b 120%);
        }

        p {
            a {
                color: white;

                &:hover {
                    color: #fc973b;
                }
            }
        }
    }

    &.nb-back svg {
        /* transform: rotate(180deg); */
    }
}


.capture {
    &>span {
        width: 100px;
        height: 100px;
        /* background-color: red; */
        display: block;
        border-style: solid;
        border-color: aliceblue;
        opacity: 0.5;
    }

    .tl {
        left: 40px;
        top: 40px;
        border-width: 15px 0px 0px 15px;
    }

    .bl {
        left: 40px;
        bottom: 40px;
        border-width: 0px 0px 15px 15px;
    }

    .tr {
        right: 40px;
        top: 40px;
        border-width: 15px 15px 0px 0px;
    }

    .br {
        right: 40px;
        bottom: 40px;
        border-width: 0px 15px 15px 0px;
    }

}

@media screen and (max-width: 600px) {
    .capture {
        .tl {
            left: 20px;
            top: 20px;
        }

        .bl {
            left: 20px;
            bottom: 20px;
        }

        .tr {
            right: 20px;
            top: 20px;
        }

        .br {
            right: 20px;
            bottom: 20px;
        }
    }
}


.star {
    &.up>div {
        animation-direction: reverse;
    }

    span:nth-child(2) {
        rotate: 45deg;
    }

    span:nth-child(3) {
        rotate: 90deg;
    }

    span:nth-child(4) {
        rotate: 135deg;
    }
}


footer {
    position: relative;
    height: 40vh;
    min-height: 380px;
    /* overflow: hidden; */
    /* background-color: #fc973b; */
    animation-name: AnimateFadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 1.5s;

    .capture>span {
        position: absolute;
        bottom: 0%;
    }

    .navigate-button {
        position: absolute;
        bottom: 200px;
        left: calc(50% - 65px);
        /* transform: translate(-50%, 0); */
    }


    .cr {
        position: absolute;
        bottom: 40px;
        left: calc(40px + 10%);
        right: calc(40px + 10%);
        display: flex;
        justify-content: space-between;

        &>div {
            display: flex;
            gap: 60px;
        }

        a {
            color: white;

            &:hover {
                color: #fc973b;
            }
        }

        .ig::after {
            content: 'Instagram';
        }

        .tt::after {
            content: 'TikTok';
        }

        .yt::after {
            content: 'Youtube';
        }
    }
}

@media screen and (max-width: 1080px) {
    footer {
        .cr {
            flex-direction: column-reverse;
            gap: 20px;
            bottom: 60px;
            left: calc(20px + 10%);
            right: calc(20px + 10%);
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 50vh;

        .cr {
            .ig::after {
                content: 'IG';
            }

            .tt::after {
                content: 'TT';
            }

            .yt::after {
                content: 'YT';
            }
        }
    }
}


@import 'keyframes';
// @use 'about';
// @use 'structure';
@import 'home';
@import 'about';
@import 'structure';
@import 'activity';
@import 'activity-detail';
@import 'contact';


#not-found {
    .pg-header {
        .bg-title {
            animation-delay: 0.5s;
        }

        .title {
            animation-delay: 0.5s;
        }
    }
}