<main data-barba="container" data-barba-namespace="contact">
    <div class="nav-logo">
        <a class="nav-icon with-cptr" href="/"></a>
        <p class="nav-tag">Photos<br />Grapho</p>
    </div>
    <div class="load">
        <div>
            <h1>CONTACT</h1>
        </div>
    </div>
    <section id="contact" class="bg-circle-dark">
        <header class="pg-header">
            <h1 class="bg-title">CONTACT
                <h1 class="title">CONTACT</h1>
            </h1>
        </header>
        <div class="p1">
            <div class="c-logo"></div>
            <div class="card">
                <div class="card-bg"></div>
                <div class="card-content">
                    <div class="l">
                        <div>
                            <a href="mailto:umg.gpret20@gmail.com" target="_blank">umg.gpret20@gmail.com</a>
                            <p></p>
                        </div>
                        <p>Jl. Sumatera No.101, Gn. Malang, Randuagung, Kec. Kebomas, Kabupaten Gresik, Jawa Timur 61121
                        </p>
                    </div>
                    <div class="r">
                        <a href="https://instagram.com/gpret_umg" target="_blank" class="with-cptr">Instagram</a>
                        <a href="https://instagram.com/@gpret_umg" target="_blank" class="with-cptr">Tiktok</a>
                        <a href="https://youtube.com/@g-pretumg" target="_blank" class="with-cptr">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>